.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


.grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}
.myimg{
  width: 250px;
  height: 250px;
  border-radius: 30px;
}

.card{
  overflow: hidden;
  background-color: aliceblue;
  border-radius: 30px;
  text-decoration: none;



}

.card:hover{
  transform: scale(1.1);
}

.textdecoration {
  text-decoration: line-through;


}
.mr2{
  margin-right: 6px;
  margin-left: 6px;
}
.ml2{
  margin-left:100px;
  color: rgb(13, 130, 130);
  
}
.price{
  display: flex;
  align-items: center;
  font-size: 15px;
}


.caro{
  background-color: black;
}

